@font-face {
    font-family: "Font Awesome 5 Brands";
    src: url("");
}

body {
    background-image: url(../img/main-bg.png);
    background-size: cover;
}

.clearfix:after {
    display: block;
    content: ' ';
    clear: both;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.text-colored {
    color: #3cb878;
    text-decoration: none;
}


/*HEADER*/

.header {
    padding: 20px 80px;
    background-color: rgba(0, 0, 0, 0.4);
}

.header::after {
    content: ' ';
    display: block;
    clear: both;
}

.header-title {
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

.header-title:hover {
    color: #3cb878;
    transition: .5s ease-in-out;
}

.navbar {
    float: right;
}

.navbar-link-item {
    text-decoration: none;
}

.navbar-icon-calendar {
    display: inline-block;
    background: url('../img/css-sprites.png') -50px -71px;
    width: 19px;
    height: 19px;
}

.navbar-icon-calendar:hover {
    width: 19px;
    height: 19px;
    background: url('../img/css-sprites.png') -89px -71px;
    transition: .003s ease-in-out;
}

.navbar-icon-forum {
    display: inline-block;
    background: url('../img/css-sprites.png') -10px -31px;
    width: 28px;
    height: 20px;
    margin-left: 28px;
}

.navbar-icon-forum:hover {
    background: url('../img/css-sprites.png') -58px -31px;
    width: 28px;
    height: 20px;
    transition: .003s ease-in-out;
}

.navbar-icon-journey {
    display: inline-block;
    background: url('../img/css-sprites.png') -106px -31px;
    width: 20px;
    height: 20px;
    margin-left: 28px;
}

.navbar-icon-journey:hover {
    background: url('../img/css-sprites.png') -10px -71px;
    width: 20px;
    height: 20px;
    transition: .003s ease-in-out;
}

.header-login {
    float: right;
    color: #ffffff;
    margin-left: 50px;
}

.header-login-link:hover {
    border-bottom: 1px solid #3cb878;
}

/*SIGN UP FIELD*/

.color-insert {
    position: absolute;
    background-color: #3cb878;
    width: 18px;
    height: 18px;
    left: 0;
    top: 29px;
}

.sign-up-field {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: calc(50% - 260px);
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px 60px;
    box-sizing: border-box;
}

.sign-up-field-title {
    font-family:  Verdana, Geneva, sans-serif;
    font-size: 20px;
    font-weight: 700;
    float: left;
    color: #505050;
}

.sign-up-field-login {
    float: right;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
}

.fab {
    padding-left: 10px;
    padding-right: 46px;
}

.login-facebook {
    float: left;
    margin-top: 14px;
    margin-right: 10px;
    background-color: #305db8;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 4px;
}

.login-facebook:hover {
    background-color: #264b96;
    transition: .5s ease-in-out;
}

.login-google {
    background-color: #df4a32;
    padding-right: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 4px;
}

.login-google:hover {
    background-color: #c3412c;
    transition: .5s ease-in-out;
}

.text-divider {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #848484;
    line-height: 0.1;
    margin-bottom: 18px;
    margin-top: 30px;
}

.text-divider::before {
    float: left;
    background: url("../img/css-sprites.png") -10px -10px;
    content: ' ';
    width: 135px;
    height: 1px;
    margin-right: 23px;
}

.text-divider::after {
    float: right;
    background: url("../img/css-sprites.png") -10px -10px;
    content: ' ';
    width: 135px;
    height: 1px;
}

.checkbox-agreement {
    display: none;
}

.agree-with-terms-label {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-bottom: 28px;
    margin-top: 22px;
}

.checkbox-agreement + .agree-with-terms-label:before {
    content: '';
    background: #fff;
    border-radius: 5px;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-agreement:checked + .agree-with-terms-label:after {
    content: "";
    padding: 2px;
    text-align: center;
    position: absolute;
    width: 1px;
    height: 5px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: 2px;
    left: 5px;
}

.terms-link {
    text-decoration: none;
}

.terms-link:hover {
    border-bottom: 1px solid #3cb878;
}

.create-account {
    width: 100%;
    background-color: #3cb878;
    color: #ffffff;
    height: 46px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

.create-account:hover {
    background-color: #329a65;
    transition: .5s ease-in-out;
}

.social-ref-btn {
    width: 157px;
    height: 46px;
    box-sizing: border-box;
    margin-top: 15px;
    font-size: 16px;
    color: #ffffff;
}

.contact-field {
    width: 100%;
    margin-bottom: 10px;
    height: 46px;
    border: 1px solid #eaeaea;
    padding: 18px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: rgba(67, 67, 67, 255);
    outline: none;
}

.contact-field:focus {
    box-shadow: 0px 2px 3px 1px #ccc;
}

.contact-field::placeholder {
    color: rgba(190, 190, 190, 255);
}





