body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
}

body:after {
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    background-position: 0 0;
    opacity: .5;
    background-attachment: fixed;
    z-index: -1
}

.container {
    width: 1059px;
    margin: 0 auto;
    padding: 49px 150px 20px;
}

.clearfix::after{
    content: '';
    display: table;
    clear:both;
}

/*HEADER*/

.header-logo {
    float: left;
}

.header-logo:hover {
    content: url("../img/header-logo-hover.png");
}

.header-title:hover {
    color: #f26522;
}

.header-title-alt:hover {
    color: #f26522;
}

.header-title {
    font-size: 29px;
    float: left;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
    width: 104px;
    line-height: 0.8;
    font-weight: 700;
}

.header-title-alt {
    font-size: 18px;
}

.contact-email {
    color: #ffffff;
    float: right;
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 18px;
}

.phone-number {
    color: #ffffff;
    float: right;
    clear: right;
    margin-top: 5px;
    font-size: 18px;
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
}



/*MAIN CONTENT*/

.our-services {
    margin-top: 45px;
}

.our-services-caption {
    float:left;
    position: relative;
    margin-right: 68px;
}

.our-services-caption:nth-child(3n) {
    margin-right: 0;
}

.our-services-caption:hover .our-services-cost {
    visibility: visible;
    height: 63px;
}

.our-service-name {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 58px;
}

.our-services-caption-link {
    text-decoration: none;
}


.our-benefit-cost {
    visibility: hidden;
    position: absolute;
    bottom: 100px;
    height: 0;
    width: 100%;
    color: white;
    background-color: #f26522;
    box-sizing: border-box;
}

.price {
    margin: 17px 21px;
    float: left;
}

.lowest-level {
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 10px;
    margin-bottom: 7px;
}

.lowest-level-price {
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 20px;
}

.lowest-level-price::before {
    content: '\20AC';
    color: inherit;
}

.view-details {
    float: right;
    margin-top: 35px;
    margin-bottom: 17px;
}

.view-details::after {
    content: '\003E';
    color: inherit;
    margin-left: 15px;
    margin-right: 18px;
}

.view-details-link {
    text-decoration: none;
    color: #ffffff;
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
}

/*COSTS HOVER*/

.our-services-cost {
    visibility: hidden;
    position: absolute;
    bottom: 100px;
    height: 0;
    width: 100%;
    color: #ffffff;
    background-color: #f26522;
    box-sizing: border-box;
}

.price {
    margin: 17px 21px;
    float: left;
}

.lowest-level {
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 10px;
    margin-bottom: 7px;
}

.lowest-level-price {
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 20px;
}

.lowest-level-price::before {
    content: '\20AC';
    color: inherit;
}

.view-details {
    float: right;
    margin-top: 35px;
    margin-bottom: 17px;
}

.view-details::after {
    content: '\003E';
    color: inherit;
    margin-left: 15px;
    margin-right: 18px;
}

.view-details-link {
    text-decoration: none;
    color: #ffffff;
    font-family: AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
}

/*FOOTER*/

.copyright {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}