html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/*HEADER*/

.header-logo{
    font-size: 80px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    padding-top: 61px;
    padding-bottom: 45px;
}

.header-logo-link{
    text-decoration: none;
    color: #000000;
}

.text-colored{
    color: #4bcaff;
}

.navbar{
    text-align: center;
    background-color: #35444f;
    padding-top: 26px;
    padding-bottom: 21px;
    padding-left: 40px;
}
.navbar-nav-item{
    display: inline-block;
    margin-right: 85px;
}

.navbar-nav-link{
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
}


/*LEFT NAVBAR*/

.left-navbar{
    display: inline-block;
    border: 2px solid;
    width: 344px;
    height: 399px;
    margin-top: 51px;
    vertical-align: top;
}
.left-navbar-nav{
    margin: 30px;
}
.left-navbar-nav-item{
    margin-bottom: 55px;
}
.left-navbar-nav-link{
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #485863;
}
.left-navbar-nav-link:hover{
    margin-left: 25px;
    color: #000000;
}

/*MAIN CONTENT*/
.main-content{
    display: inline-block;
    vertical-align: top;
    margin-top: 51px;
    margin-left: 39px;
}
.main-content-img{
    border: 2px solid;
    padding: 75px 282px;
    margin-bottom: 50px;
    text-align: center;
}

.main-content-text{
    width: 815px;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
    margin-top: 50px;
    margin-left: 30px;
}
.main-content-text-p2{
    padding-top: 30px;
}

/*FOOTER*/

.footer{
    margin-top: 51px;
    margin-bottom: 30px;
    background-color: #b4b7ba;
}
.footer-navbar{
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 21px;
}
.footer-navbar-nav-item{
    display: inline-block;
    margin-left: 40px;
}
.footer-navbar-nav-link{
    text-decoration: none;
    font-size: 22px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #0c1927;
}
.footer-navbar-nav-link:hover{
    color: #3181a6;
    text-decoration: underline;
}
.copyright{
    display: inline-block;
    margin-left: 260px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    color: #0c1927;
}