html, body {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin-top: 35px;
}
.navbar {
    text-align: center;
    padding-top: 32px;
}
.navbar-nav {
    /*display: inline-block;*/
}
.navbar-nav-item {
    display: inline-block;
    margin-left: 65px;
}
.navbar-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #16a085;
    font-weight: 700;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.main-content {
    text-align: center;
    padding-bottom: 41px;
    padding-top: 59px;
    background-color: #f5f6f7;
}
.main-content-title {
    font-size: 22px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    padding-bottom: 34px;
}
.main-content-text {
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    width: 1200px;
}
.button-item {
    border: none;
    padding: 23px 45px 18px 43px;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:white;
    font-size: 12px;
    background-color: #16a085;
    margin-top: 41px;
    margin-bottom: 94px;
}
.footer {
    margin-right: 150px;
    margin-top: 47px;
    margin-bottom: 45px;
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.copyright {
    text-align: right;
}